{% extends 'base.html.twig' %}

{% block title %}
    {% for serieByCategory in seriesByCategory %}
        {{ serieByCategory.title }}
    {% endfor %}
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-info" href="{{ path('program_new') }}">Ajouter une série</a>
    </div>
    {% if seriesByCategory is empty %}
        <h4 class="text-center mt-5">Aucune série trouvée pour cette catégorie</h4>
    {% else %}
        {% for serieByCategory in seriesByCategory %}
            <div class="media">
                <div class="media-body">
                    <h1 class="mt-0">#{{ serieByCategory.id }}:<a href="{{ path("program_show", { id: serieByCategory.id }) }}">  {{ serieByCategory.title }}</a></h1>
                    <p>{{ serieByCategory.summary }}</p>
                </div>
            </div>

            <a href="{{ path('category_index') }}">
                Retour à la liste des catégories
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
