{%  extends 'base.html.twig' %}
{%  block main %}
    <div class="m-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info" href="{{ path('program_new') }}">Ajouter une série</a>
        </div>
        <h1 class="text-center mb-5">Toutes les séries de la table program : </h1>
        <h1>Rechercher dans les séries:</h1>
        <div class="container">
            <h2>Search for a program :</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('search') }}</button>
            {{ form_end(form) }}
        </div>
        <div>
            {% for program in programs %}
                <div class="mb-4">
                        <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                        <p>{{ program.summary }}</p>
                        <a href="{{ path("program_show", { programSlug: program.slug }) }}">{{ 'See details' |trans }}</a>
                    {% if is_granted("ROLE_ADMIN") or app.user == program.owner %}
                        <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Edit</a>
                    {%endif%}
                </div>
            {% else %}
                {{ 'No program found' |trans }}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary mt-4" href="{{ path('home') }}">
                {{ 'Back home' |trans }}
            </a>
        </div>
    </div>
{%  endblock %}