{%  extends 'base.html.twig' %}
{%  block main %}
    <div class="m-3">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info" href="{{ path('program_new') }}">Ajouter une série</a>
        </div>
        <h1 class="text-center mb-5">Toutes les séries de la table program : </h1>
        <div>
            {% for program in programs %}
                    <div class="mb-4">
                            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                            <p>{{ program.summary }}</p>
                            <a href="{{ path("program_show", { programSlug: program.slug }) }}">Voir la fiche</a>
                    </div>
            {% else %}
                    Aucune série trouvée.
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary mt-4" href="{{ path('app_index') }}">
                    Retour à l'accueil
            </a>
        </div>
    </div>
{%  endblock %}