{% extends "base.html.twig" %}

{% block main %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">
            Wild series
        </h1>
        {% for program in programs %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2>{{ program.title }} - {{ 'Categories' |trans }} : {{ program.category.name }}</h2>
                    <p>{{ program.summary }}</p>
                    <a href="{{ path("program_show", { programSlug: program.slug }) }}">{{ 'See details' |trans }}</a>
                </div>
            </div>
        {% else %}
            {{ 'No program found' |trans }}
        {% endfor %}
    </div>
{% endblock %}